body {
    color:white;
    background: rgb(9, 16, 51);
    padding: 0px;
}

header {
    border-bottom: solid;
    border-color: rgb(255, 0, 0);
    padding: 20px;
    font-size: 30px;
<<<<<<< HEAD
} 
section {
    background: rgb(84, 74, 224);
}

    section {
        background: rgb(84, 74, 224);
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
    }

    .chamada-texto {
        margin-right: 20px;
    }