body {
    color:white;
    background: rgb(9, 16, 51);
    padding: 0px;
    margin-bottom: 50px;
}

header {
    border-bottom: solid;
    border-color: rgb(255, 0, 0);
    padding: 20px;
    font-size: 30px;
<<<<<<< HEAD
    font-family: "Libertinus Sans", sans-serif;
} 
section {
    background: rgb(84, 74, 224);
}

.chamada {
        background: rgb(84, 74, 224);
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
    }

    .chamada-texto {
        margin-right: 5%;
    }

    h1{
        font-size: 40px;
        font-family: "Libertinus Sans", sans-serif;
    }

    p {
        font-size: 20px;
        font-family: "Libertinus Sans", sans-serif;
    } 

    }

    .categoria-videos{
        display: flex;
        overflow-x: auto;
        gap: 10px; 
    }

    .categoria{
        padding-left: 20px;
        padding-right: 20px;
        background: black;
        margin-top: 50px;
    }

    .categoria-videos img {
        opacity: 0.5;
        height: 180px;
    }
    
    .categoria-videos img:hover {
        opacity: 1.0;
        border: 3px solid red;
    }

    .categoria h2 {
        color: red;
        font-size: 25px;
        font-family: "Playwrite HU", cursive;
    }