body {
    color:white;
    background: darkgreen;
    padding: 0px;
}

header {
    border-bottom: solid;
    border-color: rgb(84, 149, 1);
    padding: 20px;
    font-size: 30px;
    color: rgb(84, 149, 1);

    div{
        background: rgb(84, 149, 1);
        padding-bottom: 80px;
        padding-top: 80px;
    }

}